<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.short_title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% for page_detail in site.page_list %}
        {% assign page_url = page_detail.page.url | relative_url %}
        {% assign current_url = page.url | relative_url %}
        {% assign is_active = false %}
        {% if current_url == page_url or current_url == page_url | append: "/" %}
          {% assign is_active = true %}
        {% elsif page_url == "/index" and current_url == "/" %}
          {% assign is_active = true %}
        {% endif %}
        <li class="nav-item {% if is_active %}active{% endif %}">
          <a class="nav-link" href="{{ page_url }}">{{ page_detail.page.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
