name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Ruby properly
      - name: Setup Ruby
        if: github.event.action != 'closed'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      # Install gems and build
      - name: Install and Build
        if: github.event.action != 'closed'
        run: |
          bundle install
          bundle exec jekyll build

      # Deploy preview
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.8.1
        with:
          source-dir: ./_site
          preview-branch: master
          qr-code: true
